.body {
  background-color: rgba(0, 0, 0, 1);
  font-family: Inter, Arial, sans-serif;
  color: white;
  min-width: 320px;
  margin: 0;
  /* -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important; */
}
